## Latihan Pagi

In [2]:
print("Hello World!")

Hello World!

In [3]:
# Single word
print('hello')
print('Selamat Siang')

hello
Selamat Siang

In [4]:
s = 'New York'
print(s)
print(type(s))
print(len(s))

New York
<class 'str'>
8

In [5]:
s = 'Hello World'
print(s)

Hello World

In [7]:
print(s[0])
print(s[1])
print(s[2])

H
e
l

In [9]:
s1 = 'Hello'
s2 = "World"
print(s1 + " " + s2)
print("Hello_" * 6)
print("-" * 12)

Hello World
Hello_Hello_Hello_Hello_Hello_Hello_
------------

In [16]:
s = "Namaste World"
print(s[1])
print(s[5])
print(s[6:11])
print(s[8:12])
print(s[-5:-1])
print(s[-9:-3])
print("Wor" in s)

a
t
e Wor
Worl
Worl
ste Wo
True

In [18]:
s = "Hello World ada apa"
print(s.upper())
print(s.lower())

HELLO WORLD ADA APA
hello world ada apa

In [19]:
name = "Einstein"
age = 22 
married = True

In [22]:
print(" My name is ", name, " my age is ", age, " I am Married ", married)
print(" My name is %s,  my age is %s, and it is %s that I am Married " % (name, age, married))
print(" My name is {}, my age is {}, and it is {} that I am Married ".format(name, age, married))

 My name is  Einstein  my age is  22  I am Married  True
 My name is Einstein,  my age is 22, and it is True that I am Married
 My name is Einstein, my age is 22, and it is True that I am Married

In [26]:
print(2+1)
print(2-1)
print(4*2)
print(8/2)

3
1
8
4.0

In [27]:
2**3

8

In [28]:
2 + 10 * 10 + 3

105

In [30]:
(2+10) * (10+3)

156

In [31]:
a = 20

In [32]:
a+a

40

In [33]:
a = 15

In [34]:
a

15

## Latihan Siang

In [1]:
a = 42 
b = 32.30

print(type(a))
print(type(b))

<class 'int'>
<class 'float'>

In [2]:
mylist = [ 'abcd', 786 , 2.23, 'john', 70.2 ]
tinylist = [123, 'john']
print(mylist)

['abcd', 786, 2.23, 'john', 70.2]

In [3]:
mylist.append('wiley')
print(mylist)

['abcd', 786, 2.23, 'john', 70.2, 'wiley']

In [4]:
mylist.insert(2,'python')
print(mylist)

['abcd', 786, 'python', 2.23, 'john', 70.2, 'wiley']

In [5]:
mylist.remove(786)
print(mylist)

['abcd', 'python', 2.23, 'john', 70.2, 'wiley']

In [6]:
mylist.pop(3)
print(mylist)

['abcd', 'python', 2.23, 70.2, 'wiley']

In [7]:
mylist.extend(tinylist)
print(mylist)

['abcd', 'python', 2.23, 70.2, 'wiley', 123, 'john']

In [9]:
for element in mylist:
    print(element)

abcd
python
2.23
70.2
wiley
123
john

In [11]:
my_list = [1,2,3,6]
my_list = [ 'A string' , 23 , 100.232 , 'o' ]

In [12]:
len(my_list)

4

In [13]:
my_list = ['one','two','three',4,5]

# append a velue 
l = [1, 2.3, ['a', 'b'], 'New York']
l.append(3.1)
print(l)

[1, 2.3, ['a', 'b'], 'New York', 3.1]

In [14]:
# extend a list with another list.
l = [1, 2, 3, 4]
l.extend([5, 6, 7, 8])
print(l)

[1, 2, 3, 4, 5, 6, 7, 8]

In [15]:
lst = list(range(10))
print(lst)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [16]:
print(lst[4:8])
print(lst[0::3])
print(lst[1::4])

[4, 5, 6, 7]
[0, 3, 6, 9]
[1, 5, 9]

In [45]:
my_dict = {'key1':'value1','key2':'value2'}
my_dict['key2']

'value2'

In [46]:
my_dict['key1'] = 123
my_dict

{'key1': 123, 'key2': 'value2'}

In [47]:
my_dict['key1'] = my_dict['key1'] - 123
my_dict['key1']

0

In [48]:
my_dict['key1'] -= 123
my_dict['key1']

-123

In [32]:
d = {}
d['animal'] = 'Cat'

In [34]:
x = set()

In [35]:
x.add(1)

In [36]:
x

{1}

In [37]:
x.add(2)
x

{1, 2}

In [38]:
x.add(1)
x

{1, 2}

In [39]:
# Create a list with repeats
l = [1,1,1,2,3,3,4,4,4,5,5,6,7,7,7,7,2,2]
set(l)

{1, 2, 3, 4, 5, 6, 7}